<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <style>
        
        * {
            padding: 0;
            margin: 0;
            font-size: 2vmin;
        }
        body{
            background:#212121;
        }
        p,
        img {
            pointer-events: none;
            user-select: none;
        }

        .jiemian div {
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }

        .jieshao {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            
        }

        .emptybox {
           width: 65rem;
            height: 40rem;
            border-radius: 5rem;
            margin-bottom: 8rem;
            font-family: sans-serif;
            font-size: 8rem;
            color: #f7f7f7;
            font-weight: 900;
            text-transform: uppercase;
 display: flex;
            flex-direction: column;
            align-items: center;
        }

    .body-header{
        width:100%;
        height:200px;
    
    }
    .jianxian{
        width:80%;
        height:80px;
        border:1px solid #fff;
        border-radius: 2rem;
        padding: 2rem;
        display:flex;
        margin-top:10px;
        
        box-sizing: border-box;
    }
    .jianxian span{
        color:#fff;
        margin-left:3px;
        padding-top:5px;
    }
    
    
    
    
    
    
    </style>
    </head>
    <body>
        <div class = "header" style="position:fixed;">
            <div class="logo" style="width:200px;height:80px;margin-left:5px;">
                <img src="/static/imgs/logo-kylin.svg" style="width:80px;height:80px;">
                <h1 style="font-size:50px;position:fixed;top:4px;left:65px;">KyLin</h1>
            </div>
            
            <input type="checkbox" id="display">
            <label for="display" class="display-btn">登录</label>
            <div class="container" style="position:fixed;">
                <label for="display" class = "close-btn" title="close">&times</label>
                <h1 class="login-h1">登录</h1>
                <form action="/index" class="login-form" method ="post">
                    <label class="login-label">手机号：</label>
                    <input type = "text" name="user" required  placeholder="请输入你的手机号" class="login-input">

                    <label class="login-label">密码：</label>
                    <input type = "password" name="pwd" required  placeholder="请输入你的密码" class="login-input">

                    <a href="/forget">忘记密码？</a>
                    <p style="background: none;text-align:center;color:red;">{{error}}</p>

					<button class="login-button">登录</button>
					                <!--  <a href="/registration" ><button class="login-button2">注册</button></a>  ---->
                </form>
            </div>
        </div>
<div class="jiemian">
                                        <div class="jieshao">
                                            <h1 style="font-size:500px;text-align:center;color:white;">KYLIN</h1><br>
                                        <div class="body-header">
                                            
                                            <div class="jianxian">
                                                
                                                <script>
                                                    let str = "Kylin 是一款基于Java的直译式编程语言，是一款解释性编程语言，可实现跨平台运行，支持多种编程语言内嵌。"
                                                    
                                                    const jianxian = document.querySelector('.jianxian')
                                                    let words = str.split("")//分割
                                                    
                                                    const show = () => {
                                                        if(words.length > 0){
                                                            //如果word中有字母时
                                                            let word = words.shift()//数组删除第一个并返回
                                                            let span =document.createElement('span')
                                                            span.innerHTML = word
                                                            jianxian.appendChild(span)
                                                        }
                                                    }
                                                    
                                                    setInterval(show,10)
                                                </script>
                                            </div>
                                            <img src="">
                                        </div>
                                
                                         <div class="emptybox">
                                         简介
                                         <h1>函数式编程语言，高效快捷，适合Web服务器，网页服务，多线程操作，系统运维操作等。</h1>
                                         
                                         </div>
                                
                                        <div class="emptybox">
                                            <br>
                                             感谢名单
                                             <h1>作者：TBS</h1>
                                             <h1>网站编写：TBS</h1>
                                             <h2>联系方式:QQ(2021626426)</h2>
                                             <h1>LOGO设计：TBS</h1>
                                             <h1>类库开发：TBS</h1>
                                             </div>
                                    </div>
                                    <div class="btn-conteiner">
                                  <a class="btn-content" href="#">
                                    <span class="btn-title">NEXT</span>
                                    <span class="icon-arrow">
                                      <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                        <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                          <path id="arrow-icon-one" d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                          <path id="arrow-icon-two" d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z" fill="#FFFFFF"></path>
                                          <path id="arrow-icon-three" d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z" fill="#FFFFFF"></path>
                                        </g>
                                      </svg>
                                    </span> 
                                  </a>
                                </div>
                                <br>
</div>
    </body>
    <script>

    const scrollbox = {
        container: document.querySelector(".scrollbox_container"),
        cards: [...document.querySelectorAll(".scrollbox_container_card")],
        trucks: [...document.querySelectorAll(".scc_truck")],
        citys: [...document.querySelectorAll(".scc_city")],
        trigger_distance: 0,
        border_distance: 0,
        distance: 0,
        resize() {
            let _scrollbox = document.querySelector(".scrollbox");
            _scrollbox.style.height = `${this.container.offsetWidth}px`;
            this.trigger_distance = _scrollbox.offsetTop;
            this.border_distance = _scrollbox.offsetTop + _scrollbox.offsetHeight - innerHeight;
        },
        move() {
            if (scrollY >= this.trigger_distance &&
                scrollY <= this.border_distance) {
                this.distance = scrollY - this.trigger_distance;
                this.container.style.transform = `translateY(${this.distance}px)`;
                let distance_x =
                    this.distance / (this.border_distance - this.trigger_distance) *
                    (this.container.offsetWidth - innerWidth);
                for (let i = 0; i < this.cards.length; i++) {
                    this.cards[i].style.transform = `translateX(${-distance_x}px)`;
                    this.trucks[i].style.transform = `translateX(${distance_x * 1.2}px)`;
                    this.citys[i].style.transform = `translateX(${distance_x * 0.5}px)`;
                };
            };
        }
    };
    scrollbox.resize();
    window.addEventListener("resize", () => {
        scrollbox.resize();
    });
    window.addEventListener("scroll", () => {
        scrollbox.move();
    });
</script>
</html>